body {
font-family: Arial, sans-serif;
background-color: #bf7dce;
margin: 0;
padding: 20px;
}
.container {
max-width: 500px;
margin: auto;
background: rgb(194, 191, 194);
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
display: block;
margin-bottom: 5px;
}
input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ff2323;
border-radius: 5px;
}
.error {
color: red;
font-size: 12px;
}
.success {
color: green;
font-size: 14px;
margin-top: 10px;
}